<div data-act="neo" data-theme-section="blue" class="blue-section">
          <div aria-label="peace" class="peace-section">
            <div class="peace-layout">
              <div data-peace-inner="" class="peace-inner_container">
                <div class="peace-image_wrapper">
                  <img
                    src="assets/images/peace.png"
                    loading="eager"
                    width="1500"
                    sizes="100vw"
                    alt=""
                    srcset="
                      assets/images/peace-p-500.png   500w,
                      assets/images/peace-p-800.png   800w,
                      assets/images/peace-p-1080.png 1080w,
                      assets/images/peace-p-1600.png 1600w,
                      assets/images/peace-p-2000.png 2000w,
                      assets/images/peace.png        3000w
                    "
                    class="peace-image"
                  />
                </div>
                <div class="peace-image_wrapper">
                  <img
                    src="assets/images/peace.png"
                    loading="eager"
                    width="1500"
                    sizes="100vw"
                    alt=""
                    srcset="
                      assets/images/peace-p-500.png   500w,
                      assets/images/peace-p-800.png   800w,
                      assets/images/peace-p-1080.png 1080w,
                      assets/images/peace-p-1600.png 1600w,
                      assets/images/peace-p-2000.png 2000w,
                      assets/images/peace.png        3000w
                    "
                    class="peace-image"
                  />
                </div>
              </div>
              <div
                data-peace-inner="2"
                class="peace-inner_container peace-inner_absolute is-2"
              >
                <div class="peace-image_wrapper">
                  <img
                    src="assets/images/peace.png"
                    loading="eager"
                    width="1500"
                    sizes="100vw"
                    alt=""
                    srcset="
                      assets/images/peace-p-500.png   500w,
                      assets/images/peace-p-800.png   800w,
                      assets/images/peace-p-1080.png 1080w,
                      assets/images/peace-p-1600.png 1600w,
                      assets/images/peace-p-2000.png 2000w,
                      assets/images/peace.png        3000w
                    "
                    class="peace-image"
                  />
                </div>
                <div class="peace-image_wrapper">
                  <img
                    src="assets/images/peace.png"
                    loading="eager"
                    width="1500"
                    sizes="100vw"
                    alt=""
                    srcset="
                      assets/images/peace-p-500.png   500w,
                      assets/images/peace-p-800.png   800w,
                      assets/images/peace-p-1080.png 1080w,
                      assets/images/peace-p-1600.png 1600w,
                      assets/images/peace-p-2000.png 2000w,
                      assets/images/peace.png        3000w
                    "
                    class="peace-image"
                  />
                </div>
              </div>
              <div
                data-peace-inner="3"
                class="peace-inner_container peace-inner_absolute is-3"
              >
                <div class="peace-image_wrapper">
                  <img
                    src="assets/images/peace.png"
                    loading="eager"
                    width="1500"
                    sizes="100vw"
                    alt=""
                    srcset="
                      assets/images/peace-p-500.png   500w,
                      assets/images/peace-p-800.png   800w,
                      assets/images/peace-p-1080.png 1080w,
                      assets/images/peace-p-1600.png 1600w,
                      assets/images/peace-p-2000.png 2000w,
                      assets/images/peace.png        3000w
                    "
                    class="peace-image"
                  />
                </div>
                <div class="peace-image_wrapper">
                  <img
                    src="assets/images/peace.png"
                    loading="eager"
                    width="1500"
                    sizes="100vw"
                    alt=""
                    srcset="
                      assets/images/peace-p-500.png   500w,
                      assets/images/peace-p-800.png   800w,
                      assets/images/peace-p-1080.png 1080w,
                      assets/images/peace-p-1600.png 1600w,
                      assets/images/peace-p-2000.png 2000w,
                      assets/images/peace.png        3000w
                    "
                    class="peace-image"
                  />
                </div>
              </div>
              <div
                data-peace-inner="4"
                class="peace-inner_container peace-inner_absolute is-4"
              >
                <div class="peace-image_wrapper">
                  <img
                    src="assets/images/peace.png"
                    loading="eager"
                    width="1500"
                    sizes="100vw"
                    alt=""
                    srcset="
                      assets/images/peace-p-500.png   500w,
                      assets/images/peace-p-800.png   800w,
                      assets/images/peace-p-1080.png 1080w,
                      assets/images/peace-p-1600.png 1600w,
                      assets/images/peace-p-2000.png 2000w,
                      assets/images/peace.png        3000w
                    "
                    class="peace-image"
                  />
                </div>
                <div class="peace-image_wrapper">
                  <img
                    src="assets/images/peace.png"
                    loading="eager"
                    width="1500"
                    sizes="100vw"
                    alt=""
                    srcset="
                      assets/images/peace-p-500.png   500w,
                      assets/images/peace-p-800.png   800w,
                      assets/images/peace-p-1080.png 1080w,
                      assets/images/peace-p-1600.png 1600w,
                      assets/images/peace-p-2000.png 2000w,
                      assets/images/peace.png        3000w
                    "
                    class="peace-image"
                  />
                </div>
              </div>
              <div
                data-peace-inner="5"
                class="peace-inner_container peace-inner_absolute is-5"
              >
                <div class="peace-image_wrapper">
                  <img
                    src="assets/images/peace.png"
                    loading="eager"
                    width="1500"
                    sizes="100vw"
                    alt=""
                    srcset="
                      assets/images/peace-p-500.png   500w,
                      assets/images/peace-p-800.png   800w,
                      assets/images/peace-p-1080.png 1080w,
                      assets/images/peace-p-1600.png 1600w,
                      assets/images/peace-p-2000.png 2000w,
                      assets/images/peace.png        3000w
                    "
                    class="peace-image"
                  />
                </div>
                <div class="peace-image_wrapper">
                  <img
                    src="assets/images/peace.png"
                    loading="eager"
                    width="1500"
                    sizes="100vw"
                    alt=""
                    srcset="
                      assets/images/peace-p-500.png   500w,
                      assets/images/peace-p-800.png   800w,
                      assets/images/peace-p-1080.png 1080w,
                      assets/images/peace-p-1600.png 1600w,
                      assets/images/peace-p-2000.png 2000w,
                      assets/images/peace.png        3000w
                    "
                    class="peace-image"
                  />
                </div>
              </div>
              <div class="peace-star">
                <div class="w-embed">
                  <svg
                    style="width: 100%; aspect-ratio: 1/1"
                    viewbox="0 0 69 69"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M34.5 0C34.5 0 36.4035 17.7673 43.8181 25.1819C51.2327 32.5965 69 34.5 69 34.5C69 34.5 51.2327 36.4035 43.8181 43.8181C36.4035 51.2327 34.5 69 34.5 69C34.5 69 32.5965 51.2327 25.1819 43.8181C17.7673 36.4035 0 34.5 0 34.5C0 34.5 17.7673 32.5965 25.1819 25.1819C32.5965 17.7673 34.5 0 34.5 0Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="motivational-section">
            <div class="container">
              <div class="motivational-layout">
                <div
                  data-split="heading"
                  class="sg-text-body-large motivational-text"
                >
                  And so, you keep going. You stop waiting for clarity and start
                  walking anyway. You learn that direction comes slowly, like
                  light in the morning, you don’t notice it until it’s there.
                </div>
              </div>
            </div>
          </div>
          <div class="trying-section">
            <div class="container trying-container">
              <div class="trying-layout">
                <div
                  id="w-node-_0810dca9-a1c7-55a6-a495-a1fdf8e84dc7-916fe534"
                  class="typing-word_grid"
                >
                  <div
                    id="w-node-_1d743d20-2750-fc64-dbf6-09836b8801c6-916fe534"
                    class="trying-word word--you"
                  >
                    <div class="code-embed w-embed">
                      <svg
                        style="width: 100%"
                        viewbox="0 0 304 118"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M58.2472 115.701H40.6302V70.3093L0 2.22196H18.8867L49.3594 56.5014H49.6768L80.1494 2.22196H98.8774L58.2472 70.3093V115.701Z"
                          fill="white"
                        ></path>
                        <path
                          d="M148.079 117.923C114.115 117.923 92.3715 93.0051 92.3715 58.8821C92.3715 24.759 114.115 0 148.079 0C182.044 0 203.787 24.759 203.787 58.8821C203.787 93.0051 182.044 117.923 148.079 117.923ZM148.079 102.845C174.902 102.845 185.535 82.2127 185.535 58.8821C185.535 35.5514 174.902 15.0776 148.079 15.0776C121.257 15.0776 110.623 35.5514 110.623 58.8821C110.623 82.2127 121.257 102.845 148.079 102.845Z"
                          fill="white"
                        ></path>
                        <path
                          d="M259.561 117.923C228.453 117.923 215.28 101.576 215.28 77.1339V2.22196H232.738V77.1339C232.738 94.7509 241.626 102.845 259.561 102.845C277.654 102.845 286.383 94.7509 286.383 77.1339V2.22196H304V77.1339C304 101.576 290.827 117.923 259.561 117.923Z"
                          fill="white"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div
                    id="w-node-dffd6e26-5b05-5a41-85e5-72b7c01fa133-916fe534"
                    class="trying-word word--stop"
                  >
                    <div class="w-embed">
                      <svg
                        style="width: 100%"
                        viewbox="0 0 1375 422"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M179.426 421.877C76.6533 421.877 4.54242 368.504 0 277.088H64.7295C69.2719 331.597 101.637 368.504 177.722 368.504C243.019 368.504 262.893 340.114 262.893 303.206C262.893 251.536 223.146 244.155 149.332 225.418C85.7382 208.383 15.8985 187.943 15.8985 110.721C15.8985 40.314 70.4075 0 157.849 0C250.401 0 310.588 47.1276 316.834 128.891H252.104C245.291 80.0602 217.468 53.3734 158.417 53.3734C107.315 53.3734 81.1957 72.1109 81.1957 107.315C81.1957 152.739 123.781 162.391 176.019 175.451C254.375 195.324 328.19 214.061 328.19 299.8C328.19 369.639 281.062 421.877 179.426 421.877Z"
                          fill="white"
                        ></path>
                        <path
                          d="M513.058 413.928H450.032V61.8905H318.87V7.94923H644.221V61.8905H513.058V413.928Z"
                          fill="white"
                        ></path>
                        <path
                          d="M829.675 421.877C708.165 421.877 630.376 332.732 630.376 210.655C630.376 88.5772 708.165 0 829.675 0C951.184 0 1028.97 88.5772 1028.97 210.655C1028.97 332.732 951.184 421.877 829.675 421.877ZM829.675 367.936C925.633 367.936 963.676 294.122 963.676 210.655C963.676 127.188 925.633 53.9412 829.675 53.9412C733.716 53.9412 695.673 127.188 695.673 210.655C695.673 294.122 733.716 367.936 829.675 367.936Z"
                          fill="white"
                        ></path>
                        <path
                          d="M1135.39 413.928H1072.93V7.94923H1242.13C1318.79 7.94923 1375 43.7208 1375 128.891C1375 214.061 1318.79 249.265 1242.13 249.265H1135.39V413.928ZM1135.39 195.324H1239.3C1286.42 195.324 1310.27 174.315 1310.27 128.891C1310.27 82.8992 1286.42 61.8905 1239.3 61.8905H1135.39V195.324Z"
                          fill="white"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="typing-word_grid">
                  <div
                    id="w-node-_8780ce8c-363e-959a-991a-fdb3074bb8d7-916fe534"
                    class="trying-word word--trying"
                  >
                    <div class="w-embed">
                      <svg
                        style="width: 100%"
                        viewbox="0 0 610 136"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M62.1623 132.504H41.9868V19.812H0V2.54465H104.149V19.812H62.1623V132.504Z"
                          fill="white"
                        ></path>
                        <path
                          d="M134.238 132.504H114.244V2.54465H168.409C197.127 2.54465 212.577 15.995 212.577 39.9874C212.577 56.5277 202.58 68.5239 188.221 71.7956V72.1591C218.393 77.7937 207.306 129.05 214.394 131.231V132.504H192.946C187.13 127.051 199.49 81.6107 167.682 81.6107H134.238V132.504ZM134.238 64.3434H164.046C182.404 64.3434 192.401 56.3459 192.401 41.4415C192.401 27.4459 184.404 19.812 164.41 19.812H134.238V64.3434Z"
                          fill="white"
                        ></path>
                        <path
                          d="M277.82 132.504H257.645V80.5201L211.114 2.54465H232.744L267.642 64.7069H268.005L302.903 2.54465H324.351L277.82 80.5201V132.504Z"
                          fill="white"
                        ></path>
                        <path
                          d="M353.018 132.504H333.025V2.54465H353.018V132.504Z"
                          fill="white"
                        ></path>
                        <path
                          d="M393.361 132.504H373.367V2.54465H396.269L456.614 102.513H456.977V2.54465H477.153V132.504H454.251L393.724 32.5352H393.361V132.504Z"
                          fill="white"
                        ></path>
                        <path
                          d="M549.837 135.048C512.394 135.048 491.31 106.694 491.31 67.4333C491.31 28.3547 515.121 0 552.2 0C585.826 0 603.638 17.9943 607.819 42.7138H586.916C583.463 26.3553 571.285 17.2673 552.018 17.2673C523.3 17.2673 512.213 43.0774 512.213 67.4333C512.213 91.9711 520.574 117.781 550.928 117.781C572.375 117.781 589.461 102.877 589.643 81.2472H551.291V64.5252H610V132.504H596.186L591.279 114.509H590.915C581.827 127.778 569.649 135.048 549.837 135.048Z"
                          fill="white"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-c5282358-ca46-5396-6289-07ee1921b7d9-916fe534"
                  class="typing-word_grid"
                >
                  <div
                    id="w-node-_5294d1a2-2522-f1d1-68f0-7b719293b9a8-916fe534"
                    class="trying-word word--trying"
                  >
                    <div class="w-embed">
                      <svg
                        style="width: 100%"
                        viewbox="0 0 309 184"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M84.3546 179.808H56.9764V26.885H0V3.45311H141.331V26.885H84.3546V179.808Z"
                          fill="white"
                        ></path>
                        <path
                          d="M221.891 183.262C169.108 183.262 135.317 144.537 135.317 91.5075C135.317 38.4775 169.108 0 221.891 0C274.675 0 308.466 38.4775 308.466 91.5075C308.466 144.537 274.675 183.262 221.891 183.262ZM221.891 159.83C263.575 159.83 280.101 127.765 280.101 91.5075C280.101 55.2498 263.575 23.4318 221.891 23.4318C180.207 23.4318 163.682 55.2498 163.682 91.5075C163.682 127.765 180.207 159.83 221.891 159.83Z"
                          fill="white"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_82c5c2e4-eb58-de6a-475f-bfe9724e7a0e-916fe534"
                  class="typing-word_grid flex-too"
                >
                  <div
                    id="w-node-_1baf7ddd-06b7-a457-27d2-3e9cde00c33a-916fe534"
                    class="trying-word word--fix"
                  >
                    <div class="w-embed">
                      <svg
                        style="width: 100%"
                        viewbox="0 0 453 248"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M38.1273 247.827H0V0H171.919V32.9281H38.1273V107.45H146.27V140.378H38.1273V247.827Z"
                          fill="white"
                        ></path>
                        <path
                          d="M230.145 247.827H192.018V0H230.145V247.827Z"
                          fill="white"
                        ></path>
                        <path
                          d="M287.666 247.827H242.953L326.833 121.314L248.846 0H291.132L348.67 93.5852H349.016L406.901 0H448.841L370.853 120.621L453 247.827H408.634L347.977 149.043H347.63L287.666 247.827Z"
                          fill="white"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div
                    id="w-node-_7004fc89-dd76-851a-f0e9-5d0d5ac00e78-916fe534"
                    class="typing-word_mini-grid"
                  >
                    <div class="trying-word word--and">
                      <div class="w-embed">
                        <svg
                          style="width: 100%"
                          viewbox="0 0 918 119"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M82.2495 116.201H0V2.23158H80.6556V17.3744H17.5338V49.7323H72.845V64.8751H17.5338V101.059H82.2495V116.201Z"
                            fill="white"
                          ></path>
                          <path
                            d="M141.909 116.201H122.941L82.7726 2.23158H102.06L132.345 97.7112H132.505L162.631 2.23158H181.121L141.909 116.201Z"
                            fill="white"
                          ></path>
                          <path
                            d="M271.467 116.201H189.217V2.23158H269.873V17.3744H206.751V49.7323H262.062V64.8751H206.751V101.059H271.467V116.201Z"
                            fill="white"
                          ></path>
                          <path
                            d="M300.659 116.201H283.125V2.23158H330.626C355.811 2.23158 369.36 14.0271 369.36 35.0676C369.36 49.5729 360.593 60.0932 348 62.9623V63.2811C374.46 68.2225 364.737 113.173 370.954 115.086V116.201H352.145C347.044 111.419 357.883 71.5699 329.988 71.5699H300.659V116.201ZM300.659 56.427H326.8C342.899 56.427 351.666 49.4135 351.666 36.3428C351.666 24.0692 344.653 17.3744 327.119 17.3744H300.659V56.427Z"
                            fill="white"
                          ></path>
                          <path
                            d="M426.576 116.201H408.883V70.6135L368.077 2.23158H387.045L417.65 56.7458H417.969L448.573 2.23158H467.382L426.576 70.6135V116.201Z"
                            fill="white"
                          ></path>
                          <path
                            d="M520.576 116.201H502.883V17.3744H466.062V2.23158H557.397V17.3744H520.576V116.201Z"
                            fill="white"
                          ></path>
                          <path
                            d="M583.784 116.201H566.25V2.23158H583.784V49.8917H639.733V2.23158H657.426V116.201H639.733V65.0345H583.784V116.201Z"
                            fill="white"
                          ></path>
                          <path
                            d="M692.636 116.201H675.102V2.23158H692.636V116.201Z"
                            fill="white"
                          ></path>
                          <path
                            d="M728.015 116.201H710.481V2.23158H730.565L783.485 89.9007H783.804V2.23158H801.497V116.201H781.413L728.333 28.5323H728.015V116.201Z"
                            fill="white"
                          ></path>
                          <path
                            d="M865.239 118.433C832.403 118.433 813.913 93.5668 813.913 59.1368C813.913 24.8661 834.794 0 867.311 0C896.8 0 912.421 15.7804 916.087 37.4586H897.756C894.728 23.1128 884.048 15.1428 867.152 15.1428C841.967 15.1428 832.244 37.7774 832.244 59.1368C832.244 80.6556 839.576 103.29 866.195 103.29C885.004 103.29 899.988 90.2195 900.147 71.2511H866.514V56.5864H918V116.201H905.886L901.582 100.421H901.263C893.293 112.057 882.613 118.433 865.239 118.433Z"
                            fill="white"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <div
                      id="w-node-_68965f34-fbb1-93f2-e13a-74c6603bab82-916fe534"
                      class="typing-word_instead"
                    >
                      <div class="trying-word word--instead">
                        <div class="w-embed">
                          <svg
                            style="width: 100%"
                            viewbox="0 0 127 46"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M7.424 45.76H0L17.024 0H24.64L41.792 45.76H34.112L30.336 34.752H11.2L7.424 45.76ZM20.736 6.528L13.312 28.8H28.352L20.864 6.528H20.736Z"
                              fill="white"
                            ></path>
                            <path
                              d="M51.658 45.76H44.618V0H52.682L73.93 35.2H74.058V0H81.162V45.76H73.098L51.786 10.56H51.658V45.76Z"
                              fill="white"
                            ></path>
                            <path
                              d="M105.859 45.76H88.323V0H105.731C118.403 0 126.083 8.192 126.083 22.912C126.083 37.632 118.531 45.76 105.859 45.76ZM95.363 39.68H105.411C116.035 39.68 118.787 31.744 118.787 22.912C118.787 14.08 116.035 6.08 105.411 6.08H95.363V39.68Z"
                              fill="white"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <div
                        id="w-node-_79422711-a08e-2eb5-12ab-e2b0d3825c86-916fe534"
                        class="trying-word word--everything"
                      >
                        <div class="w-embed">
                          <svg
                            style="width: 100%"
                            viewbox="0 0 247 48"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M7.04 46.656H0V0.896H7.04V46.656Z"
                              fill="white"
                            ></path>
                            <path
                              d="M21.245 46.656H14.205V0.896H22.269L43.517 36.096H43.645V0.896H50.749V46.656H42.685L21.373 11.456H21.245V46.656Z"
                              fill="white"
                            ></path>
                            <path
                              d="M75.126 47.552C63.542 47.552 55.414 41.536 54.902 31.232H62.198C62.71 37.376 66.358 41.536 74.934 41.536C82.294 41.536 84.534 38.336 84.534 34.176C84.534 28.352 80.054 27.52 71.734 25.408C64.566 23.488 56.694 21.184 56.694 12.48C56.694 4.544 62.838 0 72.694 0C83.126 0 89.91 5.312 90.614 14.528H83.318C82.55 9.024 79.414 6.016 72.758 6.016C66.998 6.016 64.054 8.128 64.054 12.096C64.054 17.216 68.854 18.304 74.742 19.776C83.574 22.016 91.894 24.128 91.894 33.792C91.894 41.664 86.582 47.552 75.126 47.552Z"
                              fill="white"
                            ></path>
                            <path
                              d="M112.731 46.656H105.627V6.976H90.8435V0.896H127.515V6.976H112.731V46.656Z"
                              fill="white"
                            ></path>
                            <path
                              d="M164.094 46.656H131.07V0.896H163.454V6.976H138.11V19.968H160.318V26.048H138.11V40.576H164.094V46.656Z"
                              fill="white"
                            ></path>
                            <path
                              d="M171.911 46.656H164.487L181.511 0.896H189.127L206.279 46.656H198.599L194.823 35.648H175.687L171.911 46.656ZM185.223 7.424L177.799 29.696H192.839L185.351 7.424H185.223Z"
                              fill="white"
                            ></path>
                            <path
                              d="M226.641 46.656H209.105V0.896H226.513C239.185 0.896 246.865 9.088 246.865 23.808C246.865 38.528 239.313 46.656 226.641 46.656ZM216.145 40.576H226.193C236.817 40.576 239.569 32.64 239.569 23.808C239.569 14.976 236.817 6.976 226.193 6.976H216.145V40.576Z"
                              fill="white"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="time-section">
            <div class="time-clock_layout">
              <div class="time-clock_wrapper">
                <div class="time-clock_embed w-embed">
                  <svg
                    class="clock-svg"
                    viewbox="-1000 -1000 2000 2000"
                    preserveaspectratio="xMidYMid slice"
                  >
                    <defs>
                      <filter id="ink-texture">
                        <feturbulence
                          type="fractalNoise"
                          basefrequency="0.8"
                          numoctaves="3"
                          result="noise"
                        ></feturbulence>
                        <fedisplacementmap
                          in="SourceGraphic"
                          in2="noise"
                          scale="4"
                        ></fedisplacementmap>
                      </filter>
                    </defs>
                    <g id="spiral-group" filter="url(#ink-texture)"></g>
                  </svg>
                </div>
              </div>
            </div>
            <div class="time-content_layout">
              <div class="container sg-container">
                <div class="time-content_wrapper">
                  <div
                    data-split="custom"
                    id="w-node-_60035cec-f762-ec3a-b5e7-5d830c83f871-916fe534"
                    class="sg-text-body-huge time-text"
                  >
                    LET TIME DO
                  </div>
                  <div
                    data-split="custom"
                    id="w-node-d1a5963c-78fb-72df-ce01-fd2b5961215f-916fe534"
                    class="sg-text-body-huge time-text"
                  >
                    WHAT IT DOES
                  </div>
                  <div
                    data-split="custom"
                    id="w-node-_2c428f3d-554b-3c68-0504-dba36a3491f3-916fe534"
                    class="sg-text-body-huge time-text"
                  >
                    BEST
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="align-section">
            <div class="container sg-container">
              <div class="align-layout">
                <div class="align-wrapper">
                  <div
                    data-split-style="chars"
                    data-split="heading"
                    id="w-node-_73511162-13f1-5223-7d31-553beb64539d-916fe534"
                    class="sg-text-display align-text"
                  >
                    SOFTEN
                  </div>
                  <div
                    data-split-style="chars"
                    data-split="heading"
                    id="w-node-_697f091a-4352-5612-321a-10e45a50b50c-916fe534"
                    class="sg-text-display align-text"
                  >
                    REVEAL
                  </div>
                  <div
                    data-split-style="chars"
                    data-split="heading"
                    id="w-node-_9eadf229-07bd-4a3f-08f1-865c5d0096bb-916fe534"
                    class="sg-text-display align-text"
                  >
                    ALIGN
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="white-padding"></div>
        </div>
        