<div data-act="neo" data-theme-section="dark" class="dark-section">
            <div data-drip-bars="" class="drip-bars"></div>
            <div data-pixel-transition="" class="pixel-transition"></div>
            <div class="container sg-container">
              <div class="dark-text_layout">
                <div
                  id="w-node-_50a809ed-92ec-de8a-7c6b-14323000d8e2-916fe534"
                  class="dark-text_wrapper"
                >
                  <p
                    data-split-style="words"
                    data-split="heading"
                    class="sg-text-body-large dark-text"
                  >
                    You’re doing everything you’re supposed to do. Posting,
                    emailing, updating the portfolio, trying to stay confident
                    even when the silence feels like rejection. You see others
                    growing while you’re here wondering if you’re actually
                    moving or just pretending. You study the gurus, learn the
                    systems, try to play the game right, but results never show
                    up fast enough to calm that voice saying maybe you’re not
                    good enough. You keep acting like you’ve got direction, even
                    though you’re figuring it out one shaky step at a time. Some
                    nights you look at your work and think, what if all this
                    effort isn’t leading anywhere? But you wake up and do it
                    again. You still show up. You still believe there’s
                    something here worth fighting for. And honestly, that tiny
                    bit of belief is the only reason you haven’t quit.
                  </p>
                </div>
              </div>
              <div
                data-pixel-transition-wrapper=""
                class="dark-illustration_layout"
              >
                <div class="dark-illustration_wrapper">
                  <img
                    class="dark-illustration"
                    src="assets/images/man-falling.png"
                    data-shatter-image=""
                    alt=""
                    sizes="(max-width: 1168px) 100vw, 1168px"
                    data-animation-bop=""
                    loading="eager"
                    srcset="
                      assets/images/man-falling-p-500.png  500w,
                      assets/images/man-falling-p-800.png  800w,
                      assets/images/man-falling.png       1168w
                    "
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        