<div data-act="soft" data-theme-section="grey" class="grey-section">
            <div class="container sg-container">
              <div class="grey-layout">
                <p
                  data-split-style="words"
                  data-split="heading"
                  id="w-node-c6be6341-bf17-7590-61a6-0308b8383d13-916fe534"
                  class="sg-text-body-large grey-section_text"
                >
                              I became a creative because I wanted to do
                  something great, create good from nothing, help people live
                  better, and take away some of the ugliness in the world.
                </p>
                <div
                  data-glitch-within=""
                  aria-label="but..."
                  id="w-node-_8d0355c6-6d77-8cea-3877-d296517b1913-916fe534"
                  class="grey-illustrations_but"
                >
                  <img
                    class="grey-illustration-image"
                    src="assets/images/but....png"
                    data-shatter-image=""
                    width="70"
                    alt=""
                    sizes="70px"
                    loading="lazy"
                    srcset="
                      assets/images/but...-p-500.png 500w,
                      assets/images/but....png       663w
                    "
                  />
                </div>
                <p
                  data-split-style="words"
                  data-split="heading"
                  id="w-node-_222aa249-156e-d3a7-0a19-a290dd177de1-916fe534"
                  class="sg-text-body-large grey-section_text"
                >
                  When passion becomes your paycheck, things shift. Less
                  expression. More obligation. Your work gets judged before it
                  gets felt. You start chasing approval instead of ideas.
                </p>
                <p
                  data-split-style="lines"
                  data-split="heading"
                  id="w-node-_42875965-3af5-7d56-d2aa-6adc24d2e273-916fe534"
                  class="sg-text-body-large grey-section_text grey-section_text-last"
                >
                  The pressure piles on.  <br />Slow at first. Then all at once.
                </p>
              </div>
            </div>
          </div>
          <div data-act="neo-soft" data-theme-section="team" class="team-bridge-section">
            <div class="delirious-section">
              <div data-delirious-wrapper="" class="delirious-layout">
                <div class="delirious-texts">
                  <div data-delirious-texts="" class="delirious-texts_wrapper">
                    <img
                      src="assets/images/marketing.png"
                      loading="eager"
                      sizes="(max-width: 1178px) 100vw, 1178px"
                      srcset="
                        assets/images/marketing-p-500.png  500w,
                        assets/images/marketing-p-800.png  800w,
                        assets/images/marketing.png       1178w
                      "
                      alt="marketing"
                      class="delirious-text_image dti-1"
                    /><img
                      src="assets/images/family.png"
                      loading="eager"
                      sizes="(max-width: 710px) 100vw, 710px"
                      srcset="
                        assets/images/family-p-500.png 500w,
                        assets/images/family.png       710w
                      "
                      alt="marketing"
                      class="delirious-text_image dti-2"
                    /><img
                      src="assets/images/outreach.png"
                      loading="eager"
                      sizes="(max-width: 1086px) 100vw, 1086px"
                      srcset="
                        assets/images/outreach-p-500.png  500w,
                        assets/images/outreach-p-800.png  800w,
                        assets/images/outreach.png       1086w
                      "
                      alt="marketing"
                      class="delirious-text_image dti-3"
                    /><img
                      src="assets/images/clients.png"
                      loading="eager"
                      sizes="(max-width: 776px) 100vw, 776px"
                      srcset="
                        assets/images/clients-p-500.png 500w,
                        assets/images/clients.png       776w
                      "
                      alt="marketing"
                      class="delirious-text_image dti-4"
                    /><img
                      src="assets/images/socials.png"
                      loading="eager"
                      sizes="(max-width: 825px) 100vw, 825px"
                      srcset="
                        assets/images/socials-p-500.png 500w,
                        assets/images/socials.png       825w
                      "
                      alt="marketing"
                      class="delirious-text_image dti-5"
                    /><img
                      src="assets/images/finance.png"
                      loading="eager"
                      sizes="(max-width: 797px) 100vw, 797px"
                      srcset="
                        assets/images/finance-p-500.png 500w,
                        assets/images/finance.png       797w
                      "
                      alt="marketing"
                      class="delirious-text_image dti-6"
                    />
                  </div>
                </div>
                <div data-delirious-face="" class="delirious-image">
                  <div class="delirious-image_wrapper">
                    <img
                      src="assets/images/delirious-face.png"
                      loading="eager"
                      data-shatter-image=""
                      alt=""
                      class="delirious-image_head"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          