<div data-theme-section="light" class="hero-section">
            <div
              class="w-layout-blockcontainer container sg-container w-container"
            >
              <div class="hero-top_layout">
                <div
                  data-hero-text-wrapper=""
                  class="hero-top_text-wrapper-end"
                >
                  <div class="hero-top_text-endwrap"></div>
                  <div class="hero-top_text-endwrap"></div>
                  <div class="hero-top_text-endwrap"></div>
                  <div class="hero-top_text-endwrap"></div>
                  <div class="hero-top_text-endwrap"></div>
                  <div class="hero-top_text-endwrap"></div>
                </div>
                <div class="hero-top_text-wrapper">
                  <div
                    data-stagger="0.1"
                    data-hero-text-block=""
                    data-anim="[[2,3],[1,4],[1,2]]"
                    class="hero-top_text-block"
                  >
                    <div class="hero-top_text-wrap">
                      <div data-hero-text-item="" class="sg-text-body-mini">
                        an
                      </div>
                    </div>
                    <div class="hero-top_text-wrap">
                      <div data-hero-text-item="" class="sg-text-body-mini">
                        ode
                      </div>
                    </div>
                  </div>
                  <div
                    data-stagger="0"
                    data-hero-text-block=""
                    data-anim="[[4,3],[2,4],[1,2]]"
                    class="hero-top_text-block"
                  >
                    <div class="hero-top_text-wrap">
                      <div data-hero-text-item="" class="sg-text-body-mini">
                        to
                      </div>
                    </div>
                    <div class="hero-top_text-wrap">
                      <div data-hero-text-item="" class="sg-text-body-mini">
                        those
                      </div>
                    </div>
                  </div>
                  <div
                    data-stagger="0.2"
                    data-hero-text-block=""
                    data-anim="[[4,1],[2,3],[1,4],[1,2]]"
                    class="hero-top_text-block"
                  >
                    <div class="hero-top_text-wrap">
                      <div data-hero-text-item="" class="sg-text-body-mini">
                        who
                      </div>
                    </div>
                    <div class="hero-top_text-wrap">
                      <div data-hero-text-item="" class="sg-text-body-mini">
                        feel
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hero-layout_inner">
              <div data-glitch-within="" class="hero-top_wrapper">
                <img
                  class="hero-image_directionless"
                  src="assets/images/directionless.png"
                  data-shatter-image=""
                  width="Auto"
                  alt="Directionless"
                  sizes="(max-width: 1680px) 100vw, 1680px"
                  loading="eager"
                  srcset="
                    assets/images/directionless-p-500.png   500w,
                    assets/images/directionless-p-800.png   800w,
                    assets/images/directionless-p-1080.png 1080w,
                    assets/images/directionless.png        1680w
                  "
                />
                <div class="illustration_overlay-wrapper">
                  <div
                    data-illustration-overlay="1"
                    class="illustration-overlay"
                  ></div>
                  <div
                    data-illustration-overlay="1"
                    class="illustration-overlay"
                  ></div>
                  <div
                    data-illustration-overlay="1"
                    class="illustration-overlay"
                  ></div>
                  <div
                    data-illustration-overlay="1"
                    class="illustration-overlay"
                  ></div>
                </div>
              </div>
              <div class="hero-illustration">
                <div data-glitch-="" class="hero-illustration-layout">
                  <div data-glitch-group="" class="hero-illustration_wrapper">
                    <div class="hero-illustration_inner">
                      <div class="hero-main-illustration">
                        <div
                          data-glitch-within=""
                          class="hero-illustration_item illust-man-drowning"
                        >
                          <img
                            class="hero-image_drowning"
                            src="assets/images/man-drowning.png"
                            data-shatter-image=""
                            width="1200"
                            alt=""
                            sizes="100vw"
                            data-animation-bop="3.5"
                            loading="eager"
                            srcset="
                              assets/images/man-drowning-p-500.png   500w,
                              assets/images/man-drowning-p-800.png   800w,
                              assets/images/man-drowning-p-1080.png 1080w,
                              assets/images/man-drowning.png        2400w
                            "
                          />
                        </div>
                      </div>
                      <div class="hero-illustration_item illust-ball">
                        <img
                          class="hero-image_illustrations"
                          src="assets/images/ball.png"
                          data-shatter-image=""
                          alt=""
                          sizes="(max-width: 734px) 100vw, 734px"
                          data-animation-bop="3"
                          loading="eager"
                          srcset="
                            assets/images/ball-p-500.png 500w,
                            assets/images/ball.png       734w
                          "
                        />
                      </div>
                      <div class="hero-illustration_item illust-jug">
                        <img
                          class="hero-image_illustrations"
                          src="assets/images/jug.png"
                          data-shatter-image=""
                          alt=""
                          sizes="(max-width: 603px) 100vw, 603px"
                          data-animation-bop="3.5"
                          loading="eager"
                          srcset="
                            assets/images/jug-p-500.png 500w,
                            assets/images/jug.png       603w
                          "
                        />
                      </div>
                      <div class="hero-illustration_item illust-chair">
                        <img
                          class="hero-image_illustrations"
                          src="assets/images/chair.png"
                          data-shatter-image=""
                          alt=""
                          sizes="(max-width: 547px) 100vw, 547px"
                          data-animation-bop="6"
                          loading="eager"
                          srcset="
                            assets/images/chair-p-500.png 500w,
                            assets/images/chair.png       547w
                          "
                        />
                      </div>
                      <div class="hero-illustration_item illust-book">
                        <img
                          src="assets/images/book3.png"
                          loading="eager"
                          data-animation-bop="5"
                          data-shatter-image=""
                          alt=""
                          class="hero-image_illustrations"
                        />
                      </div>
                    </div>
                    <div class="illustration_overlay-wrapper">
                      <div
                        data-illustration-overlay="1"
                        class="illustration-overlay"
                      ></div>
                      <div
                        data-illustration-overlay="1"
                        class="illustration-overlay"
                      ></div>
                      <div
                        data-illustration-overlay="1"
                        class="illustration-overlay"
                      ></div>
                      <div
                        data-illustration-overlay="1"
                        class="illustration-overlay"
                      ></div>
                      <div
                        data-illustration-overlay="1"
                        class="illustration-overlay"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container sg-container">
              <div class="inner-layout">
                <div class="inner-layout_wrapper">
                  <div class="inner-layout_text-wrapper">
                    <h1
                      data-split-style="words"
                      data-split="heading"
                      class="sg-text-body-large inner-layout_h2-text"
                    >
                      For the ones willing to make something beautiful while
                      still trying to make ends meet
                    </h1>
                    <p
                      data-split-style="lines"
                      data-split="heading"
                      class="sg-text-body-small inner-layout_mini-text"
                    >
                      This isn’t advice. It’s just a note, from one of us...
                    </p>
                  </div>
                </div>
                <div class="inner-illustrations">
                  <div class="inner-illustrations_layout">
                    <div data-glitch="" class="inner-illustrations_reach">
                      <div
                        data-glitch-within=""
                        class="inner-illustrations_reach-wrapper"
                      >
                        <img
                          class="illustration-image_reach"
                          src="assets/images/man-reaching.png"
                          data-shatter-image=""
                          width="693.5"
                          alt=""
                          sizes="(max-width: 767px) 100vw, 694px"
                          data-animation-bop=""
                          loading="eager"
                          srcset="
                            assets/images/man-reaching-p-500.png   500w,
                            assets/images/man-reaching-p-800.png   800w,
                            assets/images/man-reaching-p-1080.png 1080w,
                            assets/images/man-reaching.png        1387w
                          "
                        />
                      </div>
                    </div>
                    <div data-feet-wrapper="" class="inner-illustrations_feet">
                      <div data-feet="1" class="illustration-feet feet-1">
                        <img
                          src="assets/images/right1.png"
                          loading="lazy"
                          data-feet-item="1"
                          alt=""
                          class="inner-illustration_feet"
                        />
                      </div>
                      <div data-feet="1" class="illustration-feet feet-2">
                        <img
                          src="assets/images/left1.png"
                          loading="lazy"
                          data-feet-item="1"
                          alt=""
                          class="inner-illustration_feet"
                        />
                      </div>
                      <div data-feet="1" class="illustration-feet feet-3">
                        <img
                          src="assets/images/right2.png"
                          loading="lazy"
                          data-feet-item="1"
                          alt=""
                          class="inner-illustration_feet"
                        />
                      </div>
                      <div data-feet="1" class="illustration-feet feet-4">
                        <img
                          src="assets/images/left2.png"
                          loading="lazy"
                          data-feet-item="1"
                          alt=""
                          class="inner-illustration_feet"
                        />
                      </div>
                      <div data-feet="1" class="illustration-feet feet-5">
                        <img
                          src="assets/images/right3.png"
                          loading="lazy"
                          data-feet-item="1"
                          alt=""
                          class="inner-illustration_feet"
                        />
                      </div>
                      <div data-feet="1" class="illustration-feet feet-6">
                        <img
                          src="assets/images/left3.png"
                          loading="lazy"
                          data-feet-item="1"
                          alt=""
                          class="inner-illustration_feet"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          