<div data-theme-section="white" class="light-section">
          <div data-pixel-transition="" class="pixel-transition-padding"></div>
          <div class="light-layout">
            <div class="container sg-container">
              <div data-shift-section="" class="shift-section">
                <div class="shift-layout">
                  <div class="shift-text_block-wrapper">
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">But</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">Then,</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">Something</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">Shifts</div>
                    </div>
                  </div>
                  <div class="shift-text_block-wrapper">
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">Not</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">Dramatically,</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">Not</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">All</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">At</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">Once</div>
                    </div>
                  </div>
                  <div class="shift-text_block-wrapper">
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">You</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">Learn</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">To</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">Breathe</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block">
                      <div class="sg-text-body-large">Again</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="care-section">
                <div class="light-svg_layout">
                  <div class="light-svg_wrapper">
                    <div class="w-embed">
                      <svg
                        data-svg-wrapper=""
                        style="width: 100%; height: 100%"
                        viewbox="0 0 1976 6071"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          data-svg-path=""
                          d="M54.0784 320.178C54.0784 320.178 291.979 167.143 480.241 126.665C1574.4 -108.587 -14.443 1271.02 232.265 1941.77C511.831 2701.86 1767.64 2424.3 1869.6 3196.84C1961.44 3892.65 913.829 3975.39 633.68 4489.92C535.619 4670.02 547.664 4806.66 500.04 5011.44C366.078 5587.48 139.578 6024.98 139.578 6024.98"
                          stroke="#1A73E8"
                          stroke-linecap="square"
                          stroke-width="200"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="care-layout">
                  <div class="care-text_wrapper right-side">
                    <div class="care-text">
                      <div
                        data-split-style="words"
                        data-split="heading"
                        class="sg-text-body-huge care-text_right"
                      >
                        You start caring less about being seen and more about
                        seeing the people who support you, the small wins that
                        used to go unnoticed.
                      </div>
                    </div>
                  </div>
                  <div class="care-text_wrapper">
                    <div class="care-text">
                      <div
                        data-split-style="words"
                        data-split="heading"
                        class="sg-text-body-huge"
                      >
                        You find friends who remind you that the creative path
                        was never meant to be straight. You realize that growth
                        isn’t a sprint...
                      </div>
                    </div>
                  </div>
                  <div class="care-text_wrapper right-side">
                    <div class="care-text">
                      <div
                        data-split-style="words"
                        data-split="heading"
                        class="sg-text-body-huge care-text_right"
                      >
                        It’s the quiet endurance between failures. You start
                        finding beauty in the uncertainty, and maybe even
                        find...
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        