<div data-theme-section="white" class="light-section">
          <div class="white-padding"></div>
          <section data-sticky-title="wrap" class="sticky-title-wrapper">
            <div class="sticky-title-container">
              <div class="sticky-title-inner">
                <h1 data-sticky-title="heading" class="sg-text-body-huge">
                  But maybe that’s the<br />whole point
                </h1>
                <h2
                  data-sticky-title="heading"
                  class="sg-text-body-huge is--stacked"
                >
                  Maybe direction<br />isn’t found
                </h2>
                <h2
                  data-sticky-title="heading"
                  class="sg-text-body-huge is--stacked"
                >
                  Maybe it forms under your feet as you keep walking
                </h2>
              </div>
            </div>
          </section>
        </div>
        